nav{
    position:fixed !important;
    z-index: 10;
    top: 0;
    width: 100%;
}

.nav-link{
    color: rgb(24, 24, 26) !important;
    padding: 1.2rem !important;
}

.card{
    height: 100%;
}

.card-img-top{
    height: 500px;
}

img{
    min-width: 100%;
    object-fit: cover;
}
